<div class="row app-post">
  <div class="col-xs">
    <img class="rounded" [src]="post.profilePhotoURL">
  </div>
  <div class="col-xs-10">
    <p class="small">
      <span class="font-weight-bold">{{post.name}}</span>
      <span class="text-muted">
        @{{post.handle}}
        &bull;
        {{post.createdAt | amTimeAgo}}
      </span>
    </p>
    <p>
      {{post.text}}
    </p>
    <div>
      <fa [name]="'reply'" class="mr-3"></fa>
      <fa [name]="'heart'" class="mr-3"></fa>
      <fa [name]="'retweet'" class="mr-3"></fa>
    </div>
  </div>
</div>
